@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

body {
    font-family: Roboto;
}

a {
    text-decoration: none;
}

h2 {
    clear:both;
    float:left;
    margin-top:25px;
    margin-bottom: 10px;
}


#joueurs {
  padding: 0;
}

.joueur, .button {
    padding: 10px 20px;
    display: inline-block;
    background-color: #2d2d2d;
    color: white;
    border-radius: 20px 0px 20px 0px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .5);
    margin-right: 10px;
    margin-top: 5px;
    cursor:pointer;
    font-weight: bold;
}

.button {
    background-color: white;
    font-weight: bold;
    color: rgb(96, 96, 96);
}

.button:hover {
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, .5);
}

.container {
    clear:both;
}

.copy-able:hover {
    cursor:pointer;
}